<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{i18n-title}}</title>
</head>
<body>
    {{{not_localized}}}
    <h2>{{{i18n-rows}}}</h2>
    {{#rows}}
    <div>{{description}}</div>
    {{/rows}}
</body>
</html>